
    <main id=root><h1>If you are reading this, something is not working</h1></main>

    <script type="text/javascript">
  window.staticImages = {
    searchImage: "<%= asset_url("search.png") %>",
    splashImage: "<%= asset_url("splash_image.jpeg") %>"
  }
</script>
