
<script type="text/javascript">
window.staticImages = {
  searchImage: "<%= asset_url("search.png") %>"
  randomThing: "randomThing"
}

</script>

    <main id=root><h1>If you are reading this, you screwed up.</h1></main>
