.album-form {
  box-shadow: 1px 1px 1px #b3b6bc;
  border: 1px solid #d2d5db;
  width: 600px;

}


.album-button {
text-decoration: none;
color: white;
background-color: #4286f4;
font-weight: normal;
// justify-content: flex-end;
padding: 7px;
border-radius: 4px;
margin-left: 20px;
margin: 20px;
}

.album-input {
 height: 35px;
 width: 250px;
 border: none;
 margin-bottom: 20px;
 margin-left: 20px;
 border-bottom: 2px solid #b3b6bc;
 color: #b3b6bc;
 font-size: 15px;

}

.album-input:focus {
  height: 35px;
  width: 250px;
  border: none;
  border-bottom: 2px solid #4286f4;
  color: black;
  font-size: 15px;
  outline-width: 0;
}

.photo-upload-field {
  height: 100px;
  width: 300px;
  box-shadow: 1px 1px 1px #b3b6bc;
  border: 1px solid #d2d5db;
  margin-left: 20px;
  margin: 20px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.album-text{
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}
