.comment-form-wrapper {
  width: 1000px;
  margin: 50px auto;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  // margin-top: 20px;
  box-shadow: 3px 3px 5px black

}

.comment-input {
  width: 900px;
  height: 30px;
  margin: 30px;
  font-size: 20px;
  font-family: sans-serif;
  padding-left: 2px;
}

.comment-button {
  text-decoration: none;
  color: white;
  background-color: #4286f4;
  font-weight: normal;
  // justify-content: flex-end;
  padding: 7px;
  border-radius: 4px;
  margin-left: 22px;
  margin: 20px;
}

.comments-head {
  border: none;
  font-size: 25px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 30px;
}
