.explore-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  align-items: stretch;
  margin: 0 auto;
  margin-top: 30px;
}

.explore-title {
  font-size: 30px;
  margin: 50px auto;
  margin-left: 350px
}
