.foot-position {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-links-top {
 padding-top: 20px;
 margin: 0 auto;
 padding-right: 60px;
}

.foot-link {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 20px;
}


.footer-links-bottom {
  padding-bottom: 20px;
  margin-left: 350px;
}

.footer-links-bottom a {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.footer .ledger {
  border: 1px solid white;
  width: 1200px;
  margin: 0 auto;
}
