

.photo-info-wrapper {

}

.photo-info-title {
  font-weight: bold;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 20px
}

.photo-info-caption {
  font-size: 15px;
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.photo-info-user {
  font-size: 15px;
  margin-left: 30px;
  margin-bottom: 100px;

}
