// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.photo-index-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.index-photo {
  height: 100px;
  width: auto;
}
