

.photo-info-wrapper {

}

.photo-info-title {
  font-weight: bold;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 20px
}

.photo-info-caption {
  font-size: 15px;
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.photo-info-user {
  font-size: 15px;
  margin-left: 30px;
  margin-bottom: 100px;

}

.photostream-return-link {
  margin-left: 30px;
  margin-top: 30px;
}

.photostream-return-link a {
margin-left: 200px
}

.photostream-return-link img {
  height: 10px;
  width: 10px;
  margin-right: 5px;
}
