// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.photo-index-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  align-items: stretch;
  margin-top: 30px;
  // justify-content: center;
  // border: 1px solid red;
}

.component-photo {
  position: relative;
  display: flex;
  margin: 3px;
  font-size: 7px;
  text-shadow: 1px 1px #434447;
  flex-grow: 2;

}

.component-photo:hover {
  position: relative;
  display: flex;
  margin: 3px;
  font-size: 7px;
  text-shadow: 1px 1px #434447;
  color: white;


}
.component-photo .component-photo-info {
  display:none;
}


.component-photo > img {
  height: 200px;

}

.component-photo > img:hover {
  font-size: 200px;
}

.component-photo .photo-component-info {
  transition: opacity 2s ease;
  opacity: 0;
  position: absolute;
  width: 80%;
}

.photo-component-info {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 150px;
  left: 20px;
  color: white;
}

.component-photo:hover .photo-component-info {
  opacity:1;
}


.component-photo-caption {
  font-size: inherit;
  font-style: italic;
  margin: 3px
}

.component-photo-title {
  font-size: 12px;
  margin: 3px;
  font-weight: bold;
}

.component-photo-user {
  font-size: inherit;
  margin: 3px
}

.photo-delete-button {
  padding: 0;
  font-size: inherit;
  justify-content: flex-end;

}


.photo-show-mounting-component {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #64646b;
  height: 600px;
}

.photo-show-area {
  height: 500px;

}

.mini-avatar {
  // position: absolute;
  height: 20px;
  width: 20px;
  top: 160px;
  left: 10px;
}

.full-caption {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.selected-photo {
  border: 2px solid #4286f4;
}

.photo-show-widgets {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 200px;
  grid-template-rows: 30px 1fr
}
