.user-cover-image {
  width: 100%;
  height: 300px;
  background-image: url('https://i.imgur.com/JGT50jf.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.user-cover-image .username {
  font-family: sans-serif;
  color: white;
  font-size: 35px;
  margin-left:200px;
  margin-top: 150px;
}

.user-cover-image .joined {
  font-family: sans-serif;
  color: white;
  font-size: 20px;
  margin-left:200px;

}

.user-info-wrapper {
  // margin-top: 50px;
  border: 1px solid black;
  width: 1000px;
  // margin-left: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.user-info-item {
  display: flex;
  justify-content: flex-start;
}

.user-info-field {
  padding: 15px;
}

.navlink-bar {
  margin: 50px;
  margin-left: 155px;
  // height: 150px;
}

.navlink-bar .link {
  margin-left: 50px;
  color: black;
  text-decoration: none;

}

.active {
  margin-left: 50px;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid blue;
}

.user-show-component {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 400px;
}
